
/**
 * Fix the style of '#'.
 */
td.sguid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/**
 * Fix the font of the section 'Show mode details'
 */
.l10n-more-info h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/**
 * Fix the section of votes and voters.
 */
.votes .panel {
    margin: 10px;
    margin-top: 0px;
    .panel-heading {
	padding: 5px;
	background-color: #ffffff;
	a.panel-title {
	    font-size: x-small;
	    font-weight: bold;
	}
    }
    .panel-body {
	padding: 5px;
	font-size: x-small;
	a {
	    padding: 5px;
	    text-decoration: none;
	}
    }
}
