/**
 * Customize the styles of the vocabulary search.
 */
#btrvocabulary-form {
    fieldset {
        border: none;
        .panel-body {
	    padding: 0px;
	    .form-item-search-term {
		margin: 0px;
		margin-right: 40px;
            }
	    #edit-submit {
		display: inline-block;
		margin: 0px;
	    }
        }
    }
}
