/* Overview navigation tables for projects and languages */
.bcl-ui-overview td.rowhead, .bcl-ui-overview thead th.rowhead {
  text-align: right;
}
.bcl-ui-progress-translated,
.bcl-ui-progress-untranslated {
  float: right;
}

/* String search filtering form */
.bcl-ui-filter {
  padding: 0.6em 0.6em 1.5em 150px;
}
.bcl-ui-filter .filter-widget {
  float: right;
  padding: 0 0 0 1em;
}
.bcl-ui-filter .filter-submit .form-submit {
  right: auto;
  left: 0;
}
.bcl-ui-filter .filter-submit .reset-link {
  right: auto;
  left: 0;
}
.bcl-ui-filter .reveal-link {
  left: auto;
  right: 0;
  margin: 0 1em 0.5em 0;
}

#autocomplete {
  text-align: right;
}

#edit-release {
  text-align: right;
  text-indent: -0.5em;
}
